<%- include("partials/headers"); %>
<h1>
	SUBMIT
</h1>
<div>
	<form action="/:id/filldetail" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="username" >
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="email" placeholder="abc@gmail.com">
		</div>
		<div class="form-group">
			<input type="form-control" type="text" name="password">
		</div>
		<div class="form-group">
			<input type="form-control" type="text" name="number" placeholder="Contact Number">
		</div>
		<div  class="form-group">
			<button class="btn btn-primary btn-block">
				SUBMIT
			</button>
		</div>
	</form>
</div>